@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Rajdhani", sans-serif;
    font-weight: 700;
    font-style: normal;
}

:root {
    background-color: aliceblue;
}

.first-sec {
    width: 100%;
    height: 100vh;
    background-image: url('images/asphalt legend bg.JPG');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding-top: 160px; /* Space for fixed elements */
}

.update-container {
    width: 100%;
    height: 57.52px;
    background-color: rgba(18,00,23,0.8);
    padding: 16px 0;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.update {
    color: white;
    text-align: center;
    font-size: 20px;
}

.update:hover {
    text-decoration: dashed;
    transition: 0.1s;
}

#asphalt-hightlight {
    color: #c800ff;
}


ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

li {
    margin: 0 28px;
}

li a {
    text-decoration: none;
    color: white;
}

.navbar {
    width: 100%;
    height: 88px;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 33px; /* Adjusted top to fit .update-container */
    z-index: 999;
}


.bar-icon {
    display: block;
    margin-left: 37vw;
}

.logo img {
    width: 42px; /* Adjust size as needed */
    margin-right: -30px; /* Adjust margin as needed */
    margin-top: 6vh; /* Adjust margin as needed */
}


.first-li-btn{
    margin-left: 35vw;
}

a{
    text-decoration: none;
    color: white;
}

.first-li-btn, .li-btn{
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
    padding-top: 4.5vh;
}

.first-li-btn, .li-btn:hover{
    border-bottom: 3px solid #ff005e;
    line-height: 2;
    transition: 0.1s;
}

.download-li-btn{
    margin-top: 5.5vh;
}

.download{
    width: 10.5vw;
    height: 8vh;
    background-color: rgb(193, 255, 24);
    font-family: "Rajdhani", sans-serif;
    font-weight: 900;
    font-size: 20px;
    text-transform: uppercase;
    border-radius: 2px;
    border: none;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
}
.download:hover{
    transform: scaleY(9px);
}

.img-name{
    width: 23%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
}

.highlighted-container {
    max-width: 500px;
    margin: 0 auto;
    margin-top: -20vh;
    background-color: transparent;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    position: relative; /* Ensure relative positioning for absolute elements */
}

#trailer-btn{
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 32px;
    font-family: "Rajdhani", sans-serif;
    font-weight: 900;
    color: white;
    width: 348.72px;
    background-color: transparent;
    border: 2px solid white;
    padding: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 27vh;
    padding: 10px 20px;
    cursor: pointer;
}

#trailer-btn:hover{
    transform: scale(1.05);
    transition: 0.3s;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent black overlay */
    display: none; /* Initially hidden */
    z-index: 1000; /* Ensure overlay is on top */
}

.highlight-section {
    background-color: #000000;
    border: 2px solid #ffffff;
    padding: 0px 2px;
    margin-top: -50px;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none; /* Initially hidden */
    z-index: 1001; /* Higher than overlay */
}

.highlight-section.active {
    display: block; /* Display when active */
}

.cancel-btn {
    position: absolute;
    top: 0px;
    right: 20px;
    font-size: 6em;
    cursor: pointer;
    color: #ffffff;
    font-weight: 500;
    z-index: 1002;
}

.cancel-btn:hover {
    color: #e61d1d;
}

.container{
    width: 100%;
    height: 165vh;
    background-image: linear-gradient(90deg, rgb(2, 9, 31), rgb(3, 12, 31));
}

.heading1-sec{
    line-height: 0.8;
}

.heading1-sec, .whats-new{
    position: relative;
    display: inline-block;
}

.whats-new{
    font-size: 64px;
    text-transform: uppercase;
    color: white;
    padding-top: 35vh;
    padding-left: 10vw;
}


.heading1-sec::after {
    content: '';
    display: block;
    width: 120px; /* Adjust width as needed */
    height: 3px; /* Adjust height as needed */
    background-color: #ff007f; /* Adjust color to match the line color in your image */
    margin: 10px auto 0; /* Adjust margins as needed */
    margin-right: 5.6vw;
    margin-top: 6vh;
}


.heading2-sec{
    width: 18vw;
    background: #ffff;
    padding: 2px 4px;
    margin-left: 10vw;
    margin-top: 10vh;
}

.supercharged{
    text-transform: uppercase;
    color: rgb(6, 14, 41);
    font-size: 36px;
}

.heading3-sec{
    width: 27vw;
    background: #FF005E;
    padding: 2px 4px;
    margin-left: 10vw;
    margin-top: 3vh;

}

.summer{
    font-size: 36px;
    color: rgb(34, 34, 34);
}

.para-sec{
    width: 30vw;
    font-size: 20px;
    color: white;
    margin-left: 10vw;
    margin-top: 4vh;

}

.highlight-words{
    color: #e64d4d;
}


.download-2{
    background: rgb(193, 255, 24);
    margin-top: 5vh;
    margin-left: 10vw;
}

.learn{
    background: white;
}

.download-2, .learn{
    margin-top: 40px;
    margin-right: 25px;
    width: 260px;
    height: 65.59px;
    font-size: 32px;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    border-radius: 1px;
}

.download-2:hover{
    transform: scale(1.04);
    transition: 0.2s;
}

.download-2,.learn:not(:hover){
    transition: 0.3s;
}

.learn:hover{
    transform: scale(1.04);
    transition: 0.2s;
}
 
.thr-sec{
    width: 100%;
    height: 140vh;
    background-image: linear-gradient(90deg, rgb(11, 4, 34), rgb(13, 13, 65), rgb(49, 23, 99));
}

.heading-container3{
    line-height: 1;
    margin-left: 10vw;
    padding-top: 20vh;
}

.racing{
    text-transform: uppercase;
    font-size: 44px;
    color: white
}

.arcade-racing{
    font-size: 64px;
    color: #FF005E;
}

.download-3{
    width: 23vw;
    background-color: #15161e;
    color: white;
    text-transform: uppercase;
    padding: 2px 7px;
    margin-left: 10vw;
    margin-top: 10vh;
}

.download-3-h2{
    font-size: 32px;
    
}
.apps{
    width: 55%;
    height: 10vh;
    margin-left: 10vw;
    margin-top: 8vh;

}
img{
    width: 25%;
    cursor: pointer;
}

.conversation{
    align-items: end;
    text-align: end;
    margin-top: 20vh;
    margin-right: 10vw;
    text-transform: uppercase;
    color: white;
}

#join, #conversation{
    font-size: 44px;
}

#join{
    font-weight: 400;
}

.fa-message{
    font-size: 70px;
    margin-top: -50px;
    margin-bottom: 16px;
}

.discord, .fb-group{
    border: 2px solid white;
    border-radius: 2px;
    color: white;
    background: transparent;
    padding: 12px 20px;
    font-size: 20px;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 600;
    margin-left: 20px;
    margin-top: 12px;
}

.discord{
    margin-right: -2px;
}

.discord:hover{
    transform: scale(1.04);
    transition: 0.2s;
}

.fb-group:hover{
    transform: scale(1.04);
    transition: 0.2s;
}

.discord, .fb-group:not(:hover){
    transition: 0.3s;
}

.four-sec{
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%;
    height: 160vh;
    background-image: url('images/footer-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
}

.container-heading-1{
    color: white;
    font-size: 44px;
    padding-top: 80px;
}

.container-btn{
    margin-top: 20px;
    width: 200px;
    padding: 12px 22px;
    font-size: 28px;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 800;
    background-color: #c5fb13;
    border: none;
    border-radius: 50px;
}

.container-btn:hover{
    transform: scale(1.04);
    transition: 0.2s;
}

.container-btn:not(:hover){
    transition: 0.3s;
}

.stay{
    font-size: 35px;
    color: aliceblue;
    text-transform: uppercase;
    margin-top: 18vh;
}

.social-icons {
    display: flex;
    gap: 30px;
    align-items: center;
    margin-left: 29vw;
    margin-top: 24px;
}

.social-icons i {
    font-size: 67px;
    transition: transform 0.3s;
    cursor: pointer;
}

/* Brand colors for each social media platform */
.fa-square-facebook {
    color: #3b5998; /* Facebook blue */
}

.fa-twitter {
    color: #1da1f2; /* Twitter blue */
}

.fa-discord {
    color: #7289da; /* Discord blue */
}

/* Optional: hover effect */
.social-icons i:hover {
    transform: scale(1.1);
}

.social-img{
    cursor: pointer;
    width: 20%;
}

.social-img:hover{
    transform: scale(1.04);
    transition: 0.2s;
}

.gameloft{
    cursor: pointer;
    margin-top: 20vh;
    width: 20%;
}

.copyright-container{
    width: 60%;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;
    font-size: 14px;
}

.copyright{
    font-size: 15px;
    color: white;
    font-weight: 500;
}

.footer-li{
    display: block;
    width: 80%;
    margin-top: 38px;
    margin-left: auto;
    margin-right: auto;
}

.footer-btn{
    border: 2px solid white;
    margin-left: 20px;
    margin-top: 20px;
    color: white;
    font-size: 20px;
    padding: 15px 30px;
    background: transparent;
    text-transform: uppercase;
    cursor: pointer;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 800;
}


/* Mobile styles */
@media only screen and (max-width: 767px) {

    .first-sec{
        width: 100%;
        height: 100vh;
        background-image: url('images/asphalt\ legend\ bg.JPG');
        background-repeat: no-repeat;
        background-size: cover;
        object-fit: cover;
    }

    .update-container {
        display: none;
    }

    .bar-icon {
        display: block;
        margin-left: 37vw;
    }

    .nav-ul{
        display: none;
        position: fixed;
        right: 0;
        top: 0;
        height: 100%;
        width: 200px;
        background-color: rgb(199, 181, 240);
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: 0.3s;
        padding: 0;
        margin: 0;
    }
    .nav-ul.show {
        display: flex;
    }

    .navbar {
        flex-direction: column;
        align-items: center;
        height: auto;
        
    }

    .logo {
        width: 10%;
        margin: 1vh auto;
        margin-top: -13vh;
        margin-left: 23px;
    }

    li {
        float: none;
        margin-left: 0;
        margin: 10px 0;
    }

    .first-li-btn {
        margin-left: 0;
    }

    .download {
        width: 30%;
        height: 5vh;
        font-size: 16px;
        padding: 12px 0px;
        margin-top: -20vh;
        margin-right: 40vh;
    }

    .trailer-btn {
        font-size: 20px;
        width: auto;
        padding: 10px;
        margin-top: 20px;
    }
    
    .container {
        height: auto;
        margin-bottom: 20px;
    }

    .whats-new {
        font-size: 32px;
        padding-top: 8vh;
        padding-left: 7vw;
    }

    .heading2-sec, .heading3-sec, .para-sec {
        width: 90%;
        margin-left: 5vw;
    }

    .supercharged, .summer {
        font-size: 24px;
    }

    .download-2, .learn {
        width: 55%;
        margin-left: 75px;
        font-size: 20px;
    }

    .learn{
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .thr-sec {
        height: 133vh;
        margin-top: -20px;
    }

    .heading-container3 {
        margin-left: 5vw;
        padding-top: 10vh;
    }

    .racing, .arcade-racing {
        font-size: 24px;
    }

    .download-3 {
        width: 100%;
        margin-left: 1vw;
        padding-left: 13px;
    }

    .apps {
        display: block;
        width: 70%;
        height: 36vh;
        margin-left: 25vw;
        margin-top: 22px;
    }

    img {
        width: 70%;
    }

    .conversation {
        text-align: center;
        margin: 10vh auto;
        margin-top: 21vh;
        margin-bottom: -20vh;
    }

    #join, #conversation {
        font-size: 32px;
    }

    .fa-message {
        font-size: 50px;
        margin-top: -30px;
    }

    .discord, .fb-group {
        margin: 10px;
        font-size: 16px;
    }

    .four-sec {
        height: auto;
        padding: 20px;
        margin-top: -30px;
    }

    .container-heading-1 {
        font-size: 24px;
    }

    .container-btn {
        width: 80%;
        font-size: 20px;
        padding: 10px;
    }

    .stay {
        font-size: 24px;
        margin-top: 10vh;
    }

    .social-icons {
        flex-direction: column;
        margin: 20px auto;
        gap: 20px;
    }

    .social-icons i {
        font-size: 50px;
    }

    .social-img {
        width: 50%;
    }

    .gameloft {
        width: 50%;
        margin-top: 10vh;
    }

    .copyright-container {
        width: 90%;
        margin-top: 20px;
    }

    .copyright {
        font-size: 12px;
    }

    .footer-li {
        width: 90%;
        margin-top: 20px;
        margin-right: 60px;
    }

    .footer-btn {
        width: 90%;
        font-size: 16px;
        padding: 10px;
        margin-right: 50px;
    }
}

/* Tablet styles */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .navbar {
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    .logo {
        width: 30%;
        margin: 1vh auto;
    }

    li {
        float: none;
        margin-left: 0;
        margin: 10px 0;
    }

    .first-li-btn {
        margin-left: 0;
    }

    .download {
        width: 60%;
        height: auto;
        font-size: 18px;
        padding: 10px;
    }

    .trailer-btn {
        font-size: 24px;
        width: auto;
        padding: 10px;
        margin-top: 20px;
    }

    .container {
        height: auto;
    }

    .whats-new {
        font-size: 48px;
        padding-top: 20vh;
        padding-left: 5vw;
    }

    .heading2-sec, .heading3-sec, .para-sec {
        width: 80%;
        margin-left: 10vw;
    }

    .supercharged, .summer {
        font-size: 28px;
    }

    .download-2, .learn {
        width: 80%;
        font-size: 24px;
    }

    .thr-sec {
        height: 120vh;
    }

    .heading-container3 {
        margin-left: 10vw;
        padding-top: 10vh;
    }

    .racing, .arcade-racing {
        font-size: 36px;
    }

    .download-3 {
        width: 80%;
        margin-left: 10vw;
    }

    img .apps{
        visibility: hidden;
        width: 10px;
    }

    img {
        width: 60%;
    }

    .conversation {
        text-align: center;
        margin: 10vh auto;
        margin-top: 15vh
    }

    #join, #conversation {
        font-size: 36px;
    }

    .fa-message {
        font-size: 60px;
        margin-top: 20px;
    }

    .discord, .fb-group {
        margin: 10px;
        font-size: 18px;
    }

    .four-sec {
        height: auto;
        padding: 20px;
    }

    .container-heading-1 {
        font-size: 32px;
    }

    .container-btn {
        width: 60%;
        font-size: 24px;
        padding: 10px;
    }

    .stay {
        font-size: 28px;
        margin-top: 10vh;
    }

    .social-icons {
        flex-direction: row;
        margin: 20px auto;
        gap: 20px;
    }

    .social-icons i {
        font-size: 60px;
    }

    .social-img {
        width: 40%;
    }

    .gameloft {
        width: 40%;
        margin-top: 10vh;
    }

    .copyright-container {
        width: 80%;
        margin-top: 20px;
    }

    .copyright {
        font-size: 14px;
    }

    .footer-li {
        width: 80%;
        margin-top: 20px;
    }

    .footer-btn {
        width: 80%;
        font-size: 18px;
        padding: 10px;
    }
}